@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

$background: rgb(24, 22, 22);
$text: #4b507a;

$cyan: #60daaa;
$yellow: #fbca67;
$orange: #ff8a30;
$red: #f45e61;
$purple: #6477b9;
$blue: #0eb7da;

@mixin setFlex() {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: $background;
    font-family: 'Poppins', sans-serif;
}

.App {
    height: 90vh;
    color: white;
    @include setFlex();

    header.connect-wallet-header {
        @include setFlex();
        flex-direction: column;
        line-height: 15px;

        h1 {
            @include setFlex();
            font-size: 3em;
        }
    
        p {
            font-size: 1.3em;
        }
    }
}

.connect-wallet-btn {
    width: 50%;
}